.login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #4070f4;

    form{
        background-color: white;
        max-width: 400px;
        padding: 20px;
        width: 100%;
        border-radius: 5px;

        h2{
            font-size: 20px;
            font-weight: bold;
            color: #232836;
            text-align: center;
        }
        .formInput{
            position: relative;
        }
        .eyeIcon{
            position: absolute;
            top: 13px;
            right: 0;
            font-size: 18px !important;
            padding: 5px;
            color: #3a39397f;
            cursor: pointer;

        }

        button{
            height: 50px;
            width: 100%;
            background-color: #0171d3;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-weight: 400;
            font-size: 18px;
            margin: 15px 0 10px 0;
            transition: 0.5s;
            cursor: pointer;

            &:hover{
                background-color: #00527a;
            }
        }
        .formLink{
            text-align: center;
        }
        .line{
            position: relative;
            height: 1px;
            width: 100%;
            margin: 20px 0px;
            background-color: #d4d4d4;

            &::before{
                content: "Or";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: white;
                color: #232836;
                padding: 0 15px;
            }
        }

        .facebook{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #4267b2;
            color: white;
            height: 50px;
            width: 100%;
            margin-top: 20px;
            border-radius: 5px;
            transition: all 0.3s ease;

            &:hover{
                background-color: #1849aa;
            }
        }

        .google{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #4267b2;
            color: white;
            height: 50px;
            width: 100%;
            margin-top: 20px;
            border-radius: 5px;
            transition: all 0.3s ease;

            &:hover{
                background-color: #1849aa;
            }
        }
    }
}