input {
    border: 0;
    background-color: white;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border-radius: 10px;
    color: black;
    font-family: "Montserrat", sans-serif;
    
}